{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="course-details-hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row" style="padding-bottom: 30px">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top:0.5em;">T Level Technical Qualification in Design, Surveying and Planning for Construction</h1>
        <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container govuk-!-padding-top-6">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Course details</h2>

        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <!-- <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="row">Qualification level</th>
              <td class="govuk-table__cell">Level 3</td>
            </tr> -->
            <!-- <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Classroom and industry placement</td>
            </tr> -->
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="row">Course start date</th>
              <td class="govuk-table__cell">01 September 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Duration</th>
              <td class="govuk-table__cell">2 years</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course hours</th>
              <td class="govuk-table__cell">FullTime</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Attendance pattern</th>
              <td class="govuk-table__cell">Daytime</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Industry placement</th>
              <td class="govuk-table__cell">9 weeks minimum</td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whofor"> Who this course is for </span> </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>This course is suitable for anyone wanting a career in construction, specifically in surveying and design, civil engineering, building services design, or hazardous materials surveying.</p>

              <p class='govuk-body'>During the two-year programme, you will learn the core knowledge and skills that underpin many jobs in the construction industry. Your learning will combine 40 weeks of classroom theory and practical learning and a minimum of 9 weeks with an employer.</p>
          </div>
          </div>
          <!--  -->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="entry"> Entry requirements </span> </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p class='govuk-body'>You will need either, 5 GCSE passes (grade 4 or above), including English, maths and science or a pass in a relevant level 2 qualification.</p>
            </div>
          </div>
          <!--  -->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatlearn"> What you'll learn </span> </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>You'll learn specific topics in design, surveying and planning:

                <p class='govuk-body'>Project management</p>
                <p class='govuk-body'>Budgeting and resource allocation</p>
                <p class='govuk-body'>Procurement</p>
                <p class='govuk-body'>Risk management</p>

                <p class='govuk-body'>You will develop a general understanding of construction, including: health and safety, the science behind building design, surveying and planning, making accurate and appropriate measurements, construction methods, building regulations and standards, data management and information, standards in construction, relationship management and customer service, how the Internet of Things (IoT) impacts construction, digital engineering techniques, mathematical techniques to solve construction problems, construction design principles and processes, the construction industry and its role in the economy, sustainability and the environmental impact of construction, business, commerce and corporate social responsibility.</p>

                <p class='govuk-body'>In addition to the core content, you will have the option to study one of the following specialisms:</p>

                <p class='govuk-body'>Surveying and design for construction and the built environment</p>
                <p class='govuk-body'>Civil engineering</p>
                <p class='govuk-body'>Building services design</p>
                <p class='govuk-body'>Hazardous materials analysis and surveying</p>
            </div>
          </div>
          <!--  -->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="howlearn"> How you'll learn </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Your learning will combine 40 weeks of classroom theory and practical learning and include a minimum of 9 weeks with an employer.  The industry placement will provide you with a real experience of the workplace.</p>

              <p class='govuk-body'>You will take part in investigative and practical work and during the T Level you will be expected to do private study and e-learning.</p>
            </div>
          </div>
          <!--  -->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="assessed"> How you'll be assessed </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>You will be assessed by a written examination at the end of the T Level and task based assessments that will take place throughout the T Level.</p>
            </div>
          </div>
          <!--  -->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="next"> What you can do next </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>This T Level has been developed in collaboration with employers and businesses so the content will meet the needs of the industry and prepare you for work, providing you the knowledge and experience needed to open the door to highly skilled employment, an Apprenticeship or higher-level study.</p>

              <p class='govuk-body'>You can progress into roles such as:</p>

              <p class='govuk-body'>Civil engineering technicial</p>
              <p class='govuk-body'>Technical surveyor</p>
              <p class='govuk-body'>Building technician</p>
              <p class='govuk-body'>Enginering construction technician</p>
              <p class='govuk-body'>Architectural technician</p>

            </div>
          </div>
          <!--  -->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="next"> Venue </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">

              <table class="govuk-table k-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Name</th>
                    <td class="govuk-table__cell">
                      Maidstone Campus
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Address</th>
                    <td class="govuk-table__cell">
                      Tonbridge Road<br>
                      Maidstone<br>
                      Kent<br>
                      ME16 8AQ<br>
                      <a class="govuk-link" target="_blank" href="https://www.google.com/maps?q=51.269911,0.495401">Find on Google maps</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">Email</th>
                    <td class="govuk-table__cell govuk-body-s"><a href="simon.cook@midkent.ac.uk" style="word-break:break-all;">simon.cook@midkent.ac.uk</a> </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">Phone</th>
                    <td class="govuk-table__cell govuk-body-s">01634 402020</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__header">Website</td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link govuk-body-s" target="_blank" href="http://www.midkent.ac.uk" style="word-break:break-all;">http://www.midkent.ac.uk</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!--  -->

        </div>

        <a href="#" target="_blank" role="button" draggable="false" class="govuk-button govuk-button--start"> Go to course provider </a> <br>

        <a href="course-search-result" class="govuk-back-link">Back to results</a>

      </div>
      <!-- main end -->

      <!-- aside start -->
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m govuk-!-margin-top-2">Course provider</h2>
          <p class="govuk-body-lead">MID-KENT COLLEGE</p>
          <ul class="govuk-list govuk-!-font-size-16">
            <li> <span class="govuk-!-font-weight-bold">Address:</span> Medway Road, Gillingham ME7 1FN </li>
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="#">https://www.midkent.ac.uk</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="#">simon.cook@midkent.ac.uk</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 01634 383000 </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--visible" />
        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
