{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  </div>
  <header class="course-details-hero">
    <div class="PROD_full-page-width-wrapper">
      <div class="govuk-grid-row" style="padding-bottom: 30px">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl" style="margin-top:0.5em;">Diploma in Childcare and Education (Early Years Educator)</h1>
          <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
              <td class="govuk-table__cell" scope="col">Diploma in Childcare and Education (Early Years Educator)</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Qualification level</th>
              <td class="govuk-table__cell">Level 3</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Awarding organisation</th>
              <td class="govuk-table__cell">NCFE CACHE</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell">North Yorkshire</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Work based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">Flexible</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost description</th>
              <td class="govuk-table__cell">Free to customers on JSA. Other customers may also be eligible for free training, please contact us to find out more.</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Who is this course for</h2>
        <p class="govuk-body">This course is for you if you want to work with babies and young children from birth to 5 years. It will prepare you to get a job or to move on to higher education childcare courses. Working with young children is challenging so you'll need sensitivity, patience and the ability to work well with others.</p>

        <h2 class="govuk-heading-m">Entry requirements</h2>
        <p class="govuk-body">A minimum of 4 GCSEs grade 4 (C) or above including English and maths or a relevant Level 2 qualification.</p>

        <h2 class="govuk-heading-m">What you'll learn</h2>
        <p class="govuk-body">You’ll cover topics including: (bullet list) child development from conception to seven years children’s physical and emotional needs the principles of safeguarding child protection supporting children with additional needs caring for children who are ill You’ll explore your role in preparing children for starting school, investigate the concept of play and learn how to support the development of childrens' literacy and numeracy. You’ll look at perspectives on childcare and education from beyond the UK and find out more about the professionals that work in partnership in early years work. You’ll be able to go on work experience placements to get an insight into the opportunities available to you.</p>

        <h2 class="govuk-heading-m">How you'll learn</h2>
        <p class="govuk-body">Through a combination of classroom based lectures, presentations, workshops, discussions and practical work experience placements.</p>

        <h2 class="govuk-heading-m">What you'll need to bring</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">How you'll be assessed</h2>
        <p class="govuk-body">Through work placement observation, assignments and controlled assessment. You’ll also build a portfolio of evidence to demonstrate what you have learned.</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">You could get a job such as an early years educator, pre-school worker, teaching assistant, playgroup leader, childminder or nanny. You could go on to higher education courses such as a degree/ foundation degree in childhood studies.</p>

        <h2 class="govuk-heading-m">Venue</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">Other venues and dates</h2>
        <p class="govuk-body">No other venues or dates available</p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-body">
          <a href="search">Back to search results</a>
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Course provider</h2>
          <p class="govuk-body-lead">FW SOLUTIONS LIMITED</p>
          <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <!-- <li> <span class="govuk-!-font-weight-bold">Address:</span> Water St, Saint Helens WA10 1PP </li> -->
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="javascript:preventDefault();">https://www.sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="javascript:preventDefault();">enquiries@fwsolutions.net</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span>01423 536672</li>
          </ul>


        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
