{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  </div>
  <header class="course-details-hero">
    <div class="PROD_full-page-width-wrapper">
      <div class="govuk-grid-row" style="padding-bottom: 30px">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl" style="margin-top:0.5em;">Certificate in Digital Applications</h1>
          <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 

        <h2 class="govuk-heading-m">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
              <td class="govuk-table__cell" scope="col">Certificate in Digital Applications</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Qualification level</th>
              <td class="govuk-table__cell">Level 2</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Awarding organisation</th>
              <td class="govuk-table__cell">Pearson Edexcel</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell">Available nationally</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Work based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">Flexible</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost description</th>
              <td class="govuk-table__cell">Free to customers on JSA. Other customers may also be eligible for free training, please contact us to find out more.</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Who is this course for</h2>
        <p class="govuk-body">Anyone interested in getting skills to work in the rapidly growing creative digital sector. The creative industries need employees with great digital skills, for example for web, graphics, interactive multimedia and computer games design. This course will give you a broad introduction to such skills.</p>

        <h2 class="govuk-heading-m">Entry requirements</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">What you'll learn</h2>
        <p class="govuk-body">You’ll look at features that make up a good website and explore the steps in the design process. You’ll get experience of using web authoring software and software tools for preparing content as well as doing some basic coding and testing for usability and functionality. The remainder of the course will cover one of the units from either: (bullet list) creative multimedia artwork and imaging computer game making</p>

        <h2 class="govuk-heading-m">How you'll learn</h2>
        <p class="govuk-body">Through practical activities and briefs, using industry standard IT hardware and software.</p>

        <h2 class="govuk-heading-m">What you'll need to bring</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">How you'll be assessed</h2>
        <p class="govuk-body">Web development - Through a practical computer-based examination using web authoring software and other software tools to design, build and test a web product for a specified audience and purpose as outlined in a client brief. The remaining unit is assessed through completion of a project brief.</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">You could move on to an apprenticeship or further learning in graphic design, web design, computer games design or interactive media. Further study options include: GCE A level in Media: Communication and Production, Level 3 BTECs in Creative Media Production, IT or Creative and Media. The course will also improve your overall digital literacy – skills which are useful for most jobs of the future.</p>

        <h2 class="govuk-heading-m">Venue</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">Other venues and dates</h2>
        <p class="govuk-body">No other venues or dates available</p>

        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-body">
          <a href="search">Back to search results</a>
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Course provider</h2>
          <p class="govuk-body-lead">St Helens College</p>
          <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <li> <span class="govuk-!-font-weight-bold">Address:</span> Water St, Saint Helens WA10 1PP </li>
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="javascript:preventDefault();">https://www.sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="javascript:preventDefault();">enquire@sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 0800 996699 </li>
          </ul>
          
          
        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
</div>
{% endblock %} 