{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  </div>
  <header class="course-details-hero">
    <div class="PROD_full-page-width-wrapper">
      <div class="govuk-grid-row" style="padding-bottom: 30px">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl" style="margin-top:0.5em;">Award in Education and Training</h1>
          <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
              <td class="govuk-table__cell" scope="col">Award in Education and Training</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Qualification level</th>
              <td class="govuk-table__cell">Level 3</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Awarding organisation</th>
              <td class="govuk-table__cell">City and Guilds</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell">Available nationally</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Work based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">Flexible</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£250.00</td>
            </tr>
            <!-- <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost description</th>
              <td class="govuk-table__cell">Free to customers on JSA. Other customers may also be eligible for free training, please contact us to find out more.</td>
            </tr> -->
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Who this course is for</h2>
        <p class="govuk-body">This course is for anyone who would like to start teaching or for those who are already teaching but need a nationally recognised qualification for their career development. It's suitable for work in post 16 education and the private training industry.</p>

        <h2 class="govuk-heading-m">Entry requirements</h2>
        <p class="govuk-body">You need to be 19 years or over. You should have achieved or be aiming to achieve a qualification at NVQ level 3 and/or have experience in the subject/skill you wish to teach.</p>

        <h2 class="govuk-heading-m">What you'll learn</h2>
        <p class="govuk-body">The course will teach you the skills to become an effective teacher or trainer including, your roles and responsibilities as a teacher, how to meet the needs of all learners awareness of equality, diversity and inclusivity facilitation skills techniques for motivating learners, planning and delivering learning one-to-one and practical skills teaching. You’ll develop an understanding of the principles and practices of assessment through exploring the types, strengths and limitations of assessment methods and how to involve learners in the process.</p>

        <h2 class="govuk-heading-m">How you'll learn</h2>
        <p class="govuk-body">Through lectures, presentations, discussions and role play exercises. You'll observe practical demonstrations and complete reflective writing exercises. There will be some self-study required and you'll have access to materials in a virtual learning environment.</p>

        <h2 class="govuk-heading-m">What you'll need to bring</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">How you'll be assessed</h2>
        <p class="govuk-body">Through a combination of written coursework and observed teaching practice. You'll be observed delivering micro-teaching sessions to your peers on the course rather than actual students. You'll also complete a portfolio of evidence.</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">Your employment prospects will be increased if you move on to the Certificate or the Diploma in Education and Training. You may be able to get a job as a teacher or trainer that will support you to gain such a qualification as you work.</p>
<!--
        <h2 class="govuk-heading-m">Venue</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">Other venues and dates</h2>
        <p class="govuk-body">No other venues or dates available</p> -->


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-body">
          <a href="search">Back to search results</a>
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Course provider</h2>
          <p class="govuk-body-lead">BLINC Training Solutions</p>
          <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <!-- <li> <span class="govuk-!-font-weight-bold">Address:</span> Water St, Saint Helens WA10 1PP </li>
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="javascript:preventDefault();">https://www.sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="javascript:preventDefault();">enquire@sthelens.ac.uk/</a> </li> -->
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 07871 844708
 </li>
          </ul>


        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
