{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="course-details-hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row" style="padding-bottom: 30px">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top:0.5em;">T Level in Construction - Design, Surveying and Planning for Construction</h1>
        <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
                <td class="govuk-table__cell" scope="col">T Level in Construction - Design, Surveying and Planning for Construction</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Qualification level</th>
                <td class="govuk-table__cell">Level 3</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Awarding organisation</th>
                <td class="govuk-table__cell">Pearsons</td>
              </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">01 September 2021</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Duration</th>
              <td class="govuk-table__cell">2 years</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Classroom based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£0.00</td>
            <!-- </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Industry placement</th>
              <td class="govuk-table__cell">9 weeks minimum</td>
            </tr> -->
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Who this course is for</h2>
        <p class="govuk-body">This T Level is suitable for anyone wanting a career in construction, specifically in surveying and design, civil engineering, building services design, or hazardous materials surveying.</p>

        <p class="govuk-body">The T Level is a two-year programme and will include a 9 week (minimum) industry placement and a Technical Qualification, where you will also choose an occupation specialist subject.</p>

        <h2 class="govuk-heading-m">Entry requirements</h2>
        <p class="govuk-body">You will need either 5 GCSEs (at grade 4 or above), including English, maths and science, or a pass in a relevant level 2 qualification.
        <p class="govuk-body">If you do not have the recommended entry qualifications you may still be considered if you have relevant experience or show a natural ability for the subject.</p>

        <h2 class="govuk-heading-m">What you'll learn</h2>
        <p class="govuk-body">You'll learn specific topics in design, surveying and planning:
        <br>
        <br>Project management
        <br>Budgeting and resource allocation
        <br>Procurement
        <br>Risk management

        <p class="govuk-body">In addition to the core content, you will study an occupation specialist subject from the following:
        <br>
        <br>Surveying and design for construction and the built environment
        <br>Civil engineering
        <br>Building services design
        <br>Hazardous materials analysis and surveying

        <h2 class="govuk-heading-m">How you'll learn</h2>
        <p class="govuk-body">Your learning will combine classroom theory and practical learning and include 9 weeks (minimum) of industry placement.  The placement will provide you with real exeperience of the workplace.</p>

        <h2 class="govuk-heading-m">How you'll be assessed</h2>
        <p class="govuk-body">Your Technical Qualification is split into two components.  Your tutor will work with you to decide whether you’re ready to sit the Core Component assessment.</p>

        <p class="govuk-body">The Core Component, has two exams and an Employer Set Project.  The project consists of 4 tasks, each task will be completed over a few weeks, before you start you’ll have some time to do research and prepare.</p>

        <p class="govuk-body">The Occupation Specialist Component is made up of a large project about your chosen subject.</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">This T Level has been developed in collaboration with employers and businesses, the content will meet the needs of the industry and prepare you for work, providing you the knowledge and experience needed to open the door to highly skilled employment, an Apprenticeship or higher-level study.
        <br>
        <br>You can progress into roles such as:
        <br>
        <br>Civil engineering technician
        <br>Technical surveyor
        <br>Building technician
        <br>Engineering construction technician
        <br>Architectural technician

        <h2 class="govuk-heading-m">Venue</h2>
        <p class="govuk-body">Maidstone, Kent</p>

        <h2 class="govuk-heading-m">Other venues and dates</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Venue</th>
              <th scope="col" class="govuk-table__header">Start date</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Medway Campus</td>
              <td class="govuk-table__cell">01 September 2020</td>
              <td class="govuk-table__cell"><a href="course-details-tlevel-2">View course</a></td>
            </tr>
          </tbody>
        </table>

        <p class="govuk-body govuk-!-margin-top-9">
          <a href="search">Back to search results</a>
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Course provider</h2>
          <p class="govuk-body-lead">Mid-Kent College</p>
          <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <li> <span class="govuk-!-font-weight-bold">Address:</span> Tonbridge Road, Maidstone, Kent, ME16 8AQ</li>
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="javascript:preventDefault();">	http://www.midkent.ac.uk</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="javascript:preventDefault();">	simon.cook@midkent.ac.uk</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 01634 402020</li>
          </ul>
        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
