{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  </div>
  <header class="course-details-hero">
    <div class="PROD_full-page-width-wrapper">
      <div class="govuk-grid-row" style="padding-bottom: 30px">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl" style="margin-top:0.5em;">Advanced GCE in Computer Science</h1>
          <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
              <td class="govuk-table__cell" scope="col">Advanced GCE in Computer Science</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Qualification level</th>
              <td class="govuk-table__cell">Level 3</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Awarding organisation</th>
              <td class="govuk-table__cell">OCR</td>
            </tr>
            <!-- <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell">Available nationally</td>
            </tr> -->
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Classroom based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">Flexible</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost description</th>
              <td class="govuk-table__cell">Free to customers on JSA. Other customers may also be eligible for free training, please contact us to find out more.</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Who this course is for</h2>
        <p class="govuk-body">This course is for students with an interest in how computers and computer systems work, how they are constructed and programmed. You’ll need to have studied ICT or computing at GCSE to move on to it. You’ll need a keen interest in computers and good technical, mathematical and problem solving skills. Computer science particularly complements subjects such as science and maths.</p>

        <h2 class="govuk-heading-m">Entry requirements</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">What you'll learn</h2>
        <p class="govuk-body">This course will elevate you from computer user to creator of programs and applications. You’ll develop your understanding of how computers work. You’ll learn software and programming skills and find out more about industry approaches to software development such as agile and waterfall methods. As an assessed component of the course, you’ll apply the principles of computational thinking to a practical coding problem, working through the iterative development process, testing and evaluating your solution. You’ll develop the skills of abstract and scientific thinking, problem solving, algorithmic and mathematical reasoning and understand some of the moral, ethical and legal implications of using digital technology.</p>

        <h2 class="govuk-heading-m">How you'll learn</h2>
        <p class="govuk-body">You’ll learn through a combination of practical hands on experience and theoretical classroom-based learning. There will be the opportunity to take part in computing visits, events and competitions. There will be talks from computer science professionals and visits to industry and university computer science departments.</p>

        <h2 class="govuk-heading-m">What you'll need to bring</h2>
        <p class="govuk-body">A scientific calculator. You may wish to purchase revision textbooks at a cost of £??</p>

        <h2 class="govuk-heading-m">How you'll be assessed</h2>
        <p class="govuk-body">Assessment is through 2 written examinations at the end of the course. You'll also complete a computing practical portfolio-based project that will make up 20% of your total A level.</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">Degree courses in software development, IT support, web development and games design as well as subjects such as electrical and electronics engineering. There are apprenticeships and degree apprenticeship opportunities in digital and technology solutions. Thinking computationally, that is logically, using reasoning, breaking complicated things down and being able to express instructions precisely are skills that can be used in a wide range of non-computing careers too.</p>

        <h2 class="govuk-heading-m">Venue</h2>
          <p class="govuk-body">Maidstone, Kent</p>

          <h2 class="govuk-heading-m">Other venues and dates</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Venue</th>
                <th scope="col" class="govuk-table__header">Start date</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Medway Campus</td>
                <td class="govuk-table__cell">01 September 2020</td>
                <td class="govuk-table__cell"><a href="course-details-tlevel-2">View course</a></td>
              </tr>
            </tbody>
          </table>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-body">
          <a href="search">Back to search results</a>
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Course provider</h2>
          <p class="govuk-body-lead">Mid-Kent College</p>
          <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <li> <span class="govuk-!-font-weight-bold">Address:</span> Water St, Saint Helens WA10 1PP </li>
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="javascript:preventDefault();">https://www.sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="javascript:preventDefault();">enquire@sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 0800 996699 </li>
          </ul>


        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
