{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  </div>
  <header class="course-details-hero">
    <div class="PROD_full-page-width-wrapper">
      <div class="govuk-grid-row" style="padding-bottom: 30px">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl" style="margin-top:0.5em;">National Extended Diploma in Creative Digital Media Production – General pathway</h1>
          <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
              <td class="govuk-table__cell" scope="col">National Extended Diploma in Creative Digital Media Production – General pathway</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Qualification level</th>
              <td class="govuk-table__cell">Level 3</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Awarding organisation</th>
              <td class="govuk-table__cell">Pearson BTEC</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell">Available nationally</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Work based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">Flexible</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost description</th>
              <td class="govuk-table__cell">Free to customers on JSA. Other customers may also be eligible for free training, please contact us to find out more.</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Who this course is for</h2>
        <p class="govuk-body">This work related course with a strong emphasis on practical learning and project work may suit you if you are thinking of media related careers and want an alternative to A levels. The course integrates art and design with digital media disciplines allowing you to develop creative ideas and get practical skills in all aspects of production. Equivalent to 3 A levels, it will prepare you for entry level jobs and apprenticeships and higher education courses in the creative industries from web content design, to digital games, film, TV, radio and video production.</p>

        <h2 class="govuk-heading-m">Entry requirements</h2>
        <p class="govuk-body">4-5 GCSEs at grade 4 (C) or above including English and maths or a relevant level 2 qualification.</p>

        <h2 class="govuk-heading-m">What you'll learn</h2>
        <p class="govuk-body">You’ll develop digital production skills in a variety of different media, such as: (bullet list) single and multi-camera techniques sound recording film editing image manipulation coding for the web games engine scripting 3D modelling games testing You’ll be planning, pitching and producing your own media production. You'll work to a client brief basing your ideas on their required content, style, audience, purpose and approach. You’ll develop your enterprise skills such as problem solving, using initiative and working independently throughout the course.</p>

        <h2 class="govuk-heading-m">How you'll learn</h2>
        <p class="govuk-body">Through working on individual and group, live project briefs. There will be media industry visits, speakers and events and the chance to do some relevant work experience.</p>

        <h2 class="govuk-heading-m">What you'll need to bring</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">How you'll be assessed</h2>
        <p class="govuk-body">Through written and practical projects, assignments, set tasks and on-screen examinations.</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">You could get a trainee job or apprenticeship or move to undergraduate courses at university including media, film, broadcasting, journalism, games production, content design among others.</p>

        <h2 class="govuk-heading-m">Venue</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m">Other venues and dates</h2>
        <p class="govuk-body">No other venues or dates available</p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-body">
          <a href="search">Back to search results</a>
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Course provider</h2>
          <p class="govuk-body-lead">St Helens College</p>
          <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <li> <span class="govuk-!-font-weight-bold">Address:</span> Water St, Saint Helens WA10 1PP </li>
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="javascript:preventDefault();">https://www.sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="javascript:preventDefault();">enquire@sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 0800 996699 </li>
          </ul>


        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
