{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  </div>
  <header class="course-details-hero">
    <div class="PROD_full-page-width-wrapper">
      <div class="govuk-grid-row" style="padding-bottom: 30px">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl" style="margin-top:0.5em;">Extended Diploma in Construction and the Built Environment (QCF)</h1>
          <p class="govuk-caption-m" style="margin-bottom: 0;">Level 3</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
              <td class="govuk-table__cell" scope="col">Extended Diploma in Construction and the Built Environment (QCF)</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Qualification level</th>
              <td class="govuk-table__cell">Level 3</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Awarding organisation</th>
              <td class="govuk-table__cell">Pearson BTEC</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell">Available nationally</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Work based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">Flexible</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost description</th>
              <td class="govuk-table__cell">Free to customers on JSA. Other customers may also be eligible for free training, please contact us to find out more.</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Who this course is for</h2>
        <p class="govuk-body">If you want to become a technician or trainee manager in the construction sector, or go to university to study for professional qualifications such as architecture, civil or structural engineering or quantity surveying, this work related course could be for you. It's equivalent to three A Levels and suits people who prefer continuous assessment and coursework to final exam.</p>

        <h2 class="govuk-heading-m">Entry requirements</h2>
        <p class="govuk-body">4-5 GCSEs including English, maths and science at grade 4 (C) or above or an equivalent Level 2 qualification.</p>

        <h2 class="govuk-heading-m">What you'll learn</h2>
        <p class="govuk-body">You’ll cover topics including: (bullet list) materials and techniques used in the building industry how forces act on structures using maths to solve construction problems communicating building design in drawings, sections and specifications carrying out site surveys You’ll get project management skills such as costing construction works and monitoring progress against a budget. You’ll learn more about the construction sector, its safety practices and sustainable construction techniques. You’ll have the opportunity to take additional optional units from a varied range of topics.</p>

        <h2 class="govuk-heading-m">How you'll learn</h2>
        <p class="govuk-body">Through a mixture of classroom, design workshop and construction site activities.</p>

        <h2 class="govuk-heading-m">What you'll need to bring</h2>
        <p class="govuk-body">A scientific calculator, drawing equipment and safety boots for site visits.</p>

        <h2 class="govuk-heading-m">How you'll be assessed</h2>
        <p class="govuk-body">Through coursework, group and individual assignments, presentations and end of unit practical and written tests.</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">You could go on to an HNC / HND, foundation degree or degree in construction related subjects. You could get a technician level job or apply for construction higher or degree apprenticeships.</p>

        <h2 class="govuk-heading-m">Venue</h2>
        <p class="govuk-body">Stratford-upon-Avon College</p>

        <h2 class="govuk-heading-m">Other venues and dates</h2>
        <p class="govuk-body">No other venues or dates available</p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-body">
          <a href="search">Back to search results</a>
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Course provider</h2>
          <p class="govuk-body-lead">St Helens College</p>
          <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <li> <span class="govuk-!-font-weight-bold">Address:</span> Water St, Saint Helens WA10 1PP </li>
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="javascript:preventDefault();">https://www.sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="javascript:preventDefault();">enquire@sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 0800 996699 </li>
          </ul>


        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
